<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/public/css/public.css" media="all">

</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <fieldset class="table-search-fieldset">
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">關鍵字</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="keyword" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline" id="dvregtime">
                                <label class="layui-form-label">時間範圍</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="begintime" autocomplete="off" id="txtbegintime"
                                        class="layui-input" placeholder="開始日期" value="<%=beginTime%>">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline">
                                    <input type="text" name="endtime" autocomplete="off" id="txtendtime"
                                        class="layui-input" placeholder="结束日期" value="<%=endTime%>">
                                </div>
                                <div class="layui-inline" style="display:flex">
                                    <%- include('../date.ejs') %>

                                </div>
                            </div>
                            <!--div class="layui-inline">
                                <label class="layui-form-label">日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="betTime" id="betTime"
                                        placeholder="yyyy-MM-dd">
                                </div>
                            </div-->
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <button id="btnSearch" type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            </div>
                        </div>
                        <!--div class="layui-form-item"> 
                        <div class="layui-inline" id="dvregtime" >
                            <label class="layui-form-label">开赛时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="beginTime" autocomplete="off" id="txtbegintime" class="layui-input" placeholder="开始日期"  >
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" name="endTime" autocomplete="off" id="txtendtime" class="layui-input" placeholder="结束日期"  >
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button id="btnSearch" type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div-->

                    </form>

                </div>
            </fieldset>

            <script type="text/html" id="toolbarDemo">
                <!--div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
                </div-->
            </script>


            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

            <script type="text/html" id="currentTableBar">
                {{# if(d.status == 0){ }}  
                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-success" lay-event="success">通過</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-success" lay-event="manaul">手动通過</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs data-count-fail" lay-event="fail">失敗</a>
                <!--a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="check">審核</a-->
                <!--a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a-->
                {{# } }}  
                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-fail" lay-event="tranHashInfo">查看交易链</a>
                
               
            </script>

            <script type="text/html" id="orderInfoTpl">
                <div style="height:200px">
                    <span style="color: #c00;">{{d.fbdDateTime}}【{{d.league}}】</div>
                     
                        <span style="color: #c00;">[{{d.hometeam}} ]</span> vs <span style="color: #c00;">[{{d.awayteam}} ]</span>
                     
                </div>
              </script>

        </div>
    </div>
    <script src="/public/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/public/lib/laydate/laydate.js" charset="utf-8"></script>
    <script src="/public/web/js/web3.min.js"></script>
    <script src="/public/web/js/bep20.js"></script>
    <script>
        layui.use(['form', 'table', 'jquery', 'laydate'], function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                table = layui.table;


            //常规用法
            laydate.render({
                elem: '#betTime',

            });

            laydate.render({
                elem: '#dvregtime'
                //设置开始日期、日期日期的 input 选择器
                //数组格式为 5.3.0 开始新增，之前版本直接配置 true 或任意分割字符即可
                , range: ['#txtbegintime', '#txtendtime']
                , type: 'datetime'
            });

            //$('input[name="today"]').click();

            table.render({
                elem: '#currentTableId',
                type: 'post',
                url: '/admin/transfer/list_data/<%=type%>',
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                cols: [[
                    //{ type: "checkbox", width: 50 },
                    { field: 'id', width: 70, title: 'ID', sort: true },

                    //{ field: 'agent', minWidth: 70, title: '代理', sort: true },
                    {
                        field: 'username', minWidth: 170, title: '會員', templet: function (d) {
                            return d.User.username;
                        }
                    },

                    //{ field: 'league', minWidth: 300, title: '联赛', sort: true, templet: '#orderInfoTpl' },



                    {
                        field: 'amount', width: 160, title: '<%=typeName%>金額'
                    },
                    {
                        field: 'status', width: 100, title: '状态', sort: true, templet: function (d) {
                            let color = 'orange';
                            let statusName = '待處理';
                            if (d.status == 1) {
                                color = 'green'
                                statusName = '成功';
                            } else if (d.status == -1) {
                                color = 'red'
                                statusName = '失敗';
                            }

                            return '<div style="color:' + color + '">' + statusName + '</div>'
                        }
                    },
                    { field: 'created', width: 150, title: '提領时间', sort: true },
                    {
                        field: 'remark', width: 120, title: '备注', sort: true, templet: function (d) {
                            return '<div style="color: gray;">' + (d.remark) + '</div>';
                        }
                    },
                    { title: '操作', width: 250, toolbar: '#currentTableBar', align: "center" }

                ]],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 15,
                page: true,
                skin: 'line'
            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                var result = JSON.stringify(data.field);

                /* layer.alert(result, {
                     title: '最终的搜索信息'
                 });*/

                //执行搜索重载
                table.reload('currentTableId', {
                    page: {
                        curr: 1
                    }
                    , where: {
                        searchParams: result
                    }
                }, 'data');

                return false;
            });

            /**
        * toolbar监听事件
        */
            table.on('tool(currentTableFilter)', function (obj) {
                var $button = $(this).find('.data-count-success'); // 获取当前行的按钮
                let data = obj.data;
                if (obj.event === 'check') {  // 监听通知回调
                    var index = layer.open({
                        title: '編輯等級',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        area: ['80%', '100%'],
                        content: '/admin/transfer/check/' + data.id,
                    });

                } else if (obj.event === 'manaul') {
                    if (!confirm('確認通過？')) return false;
                    $button.prop('disabled', true);
                    //不检测智能合约直接上分
                    data.status = 1;
                    $.ajax({
                        url: '/admin/transfer/save',
                        type: 'post',
                        data: data,
                        success: function (res) {
                            $button.prop('disabled', false);
                            console.log(res)
                            layer.alert(res.message, {
                                title: '最终的提交信息'
                            })
                            if (res.code != undefined && res.code === 200) {
                                table.reload('currentTableId');
                                layer.closeAll()
                            }

                        },
                        error: function (res) {
                            $button.prop('disabled', false);
                        }
                    })


                } else if (obj.event === 'success') {
                    if (!confirm('確認通過？')) return false;
                    var tr = $(obj.tr);   // 当前行的 DOM 对象
                    var $btn = tr.find('.data-count-success'); // 找到当前按钮
                    if ($btn.hasClass('layui-btn-disabled')) {
                        return; // 如果按钮已禁用，直接返回，防止重复点击
                    }

                    // 禁用按钮
                    $btn.addClass('layui-btn-disabled').attr('disabled', 'disabled');

                    if (data.type == 1) {
                        //测智能合约直接上分
                        $.ajax({
                            url: '/transfer/check?hash=' + data.transactionHash,
                            type: 'get',
                            success: function (res) {
                                $button.prop('disabled', false);
                                layer.alert(res.message, {
                                    title: '最终的提交信息'
                                })
                                if (res.code != undefined && res.code === 0) {
                                    table.reload('currentTableId');
                                    layer.closeAll()
                                }


                            },
                            error: function (res) {
                                $button.prop('disabled', false);
                            },
                            complete: function() {
                                // 恢复按钮
                                $btn.removeClass('layui-btn-disabled').removeAttr('disabled');
                            }
                        })
                        //不检测智能合约直接上分
                        /*
                        data.status = 1;
                        $.ajax({
                            url: '/admin/transfer/save',
                            type: 'post',
                            data: data,
                            success: function (res) {
                                console.log(res)
                                layer.alert(res.message, {
                                    title: '最终的提交信息'
                                })
                                if (res.code != undefined && res.code === 0) {
                                    table.reload('currentTableId');
                                    layer.closeAll()
                                }
    
                            }
                        })*/
                    } else {
                        //出款需要呼叫智能合约
                        console.log('呼叫智能钱包从官方钱包出款到会员');
                        console.log(BEP20_ABI, BEP20_ADDRESS);

                        let checkFun = (hash) => {
                            let checkHashId = setInterval(async () => {
                                $.ajax({
                                    url: '/transfer/check_withdraw?hash=' + hash,
                                    type: 'get',
                                    success: function (res) {
                                        $button.prop('disabled', false);
                                        if (res.code != undefined && res.code !== 0) {
                                            clearInterval(checkHashId)
                                            layer.alert(res.message, {
                                                title: '最终的提交信息'
                                            })
                                            return;
                                        }
                                        table.reload('currentTableId');
                                        layer.closeAll()

                                    },
                                    error: function (res) {
                                        $button.prop('disabled', false);
                                    },
                                    complete: function() {
                                        // 恢复按钮
                                        $btn.removeClass('layui-btn-disabled').removeAttr('disabled');
                                    }
                                })
                            }, 3000);
                        }

                        //查詢交易是否已發生
                        let hash = ''
                        $.ajax({
                            url: '/admin/transfer/findone/' + data.id,
                            type: 'get',
                            async: false,
                            success: function (res) {
                                hash = res.data.transactionHash
                            }
                        })
                        if (hash != '') {
                            checkFun(data.transactionHash);
                        } else {
                            if (data.toAddr == '') {
                                layer.alert('接收地址異常', {
                                    title: '最终的提交信息'
                                })
                                return;
                            }
                            const specs = 'width=100,height=100,left=900,top=100,resizable=no,scrollbars=no'
                            window.open('/admin/transfer/open_trans/' + data.toAddr + '/' + data.amount.toString() + '/' + data.id, '', specs)
                            return;
                            (async () => {
                                try {
                                    var web3Provider;
                                    debugger;
                                    if (window.ethereum) {
                                        web3Provider = window.ethereum;
                                        try {
                                            // 请求用户授权
                                            await window.ethereum.enable();
                                        } catch (error) {
                                            //用户不授权时，这里处理异常情况，同时可以设置重试等机制
                                            console.log(error)
                                        }
                                    } else if (window.web3) {// 老版 MetaMask Legacy dapp browsers...
                                        debugger;
                                        web3Provider = window.web3.currentProvider;
                                    } else {
                                        layer.alert('瀏覽器環境不支持web3請聯繫管理員', {
                                            title: '错误提示'
                                        })
                                        return;
                                    }

                                    constweb3 = new Web3(web3Provider);
                                    //const web3 = new Web3(window.ethereum);
                                    //ethereum.enable()
                                    const accounts = await web3.eth.getAccounts();
                                    const selectedAccount = accounts[0];
                                    const contract = new web3.eth.Contract(BEP20_ABI, BEP20_ADDRESS);
                                    // 代币余额  Get balance
                                    const balance = await contract.methods.balanceOf(selectedAccount).call();
                                    console.log('Balance:', balance);

                                    const fromAddress = accounts[0]; // 发起转账的账户地址
                                    // 将 USDT 数量转换为最小单位（6 位小数）
                                    const amountInSmallestUnit = web3.utils.toWei(data.amount.toString(), 'ether');//

                                    const toAddress = data.toAddr;

                                    contract.methods.transfer(toAddress, amountInSmallestUnit).send({
                                        from: fromAddress,
                                        gasPrice: await web3.eth.getGasPrice(),
                                        gas: 70000 // 普通转账的gas限制
                                    }).on('transactionHash', function (hash) {
                                        $.ajax({
                                            url: '/admin/transfer/update_hash',
                                            type: 'post',
                                            data: {
                                                hash: hash,
                                                id: data.id
                                            },
                                            async: false,
                                            success: function (res) {
                                                console.log(res)
                                                checkFun(hash);
                                            }
                                        })



                                    });
                                } catch (ex) {
                                    alert(ex.message)
                                }
                            })();
                        }
                    }
                    return false;
                } else if (obj.event === 'fail') {
                    if (!confirm('確認失敗？')) return false;
                    data.status = -1;
                    if (data.type == 1) {
                        $.ajax({
                            url: '/admin/transfer/save',
                            type: 'post',
                            data: data,
                            success: function (res) {
                                console.log(res)
                                layer.alert(res.message, {
                                    title: '最终的提交信息'
                                })
                                if (res.code != undefined && res.code === 0) {
                                    table.reload('currentTableId');
                                    layer.closeAll()
                                }

                            }
                        })
                    } else {
                        $button.prop('disabled', true);
                        $.ajax({
                            url: '/admin/withdraw/fail/' + data.id,
                            type: 'post',
                            data: data,
                            success: function (res) {
                                console.log(res)
                                $button.prop('disabled', false);
                                layer.alert(res.message, {
                                    title: '最终的提交信息'
                                })

                                table.reload('currentTableId');
                                //layer.closeAll()


                            },
                            error: function (res) {
                                $button.prop('disabled', false);
                            }
                        })
                    }
                    return false;
                } else if (obj.event == 'tranHashInfo') {
                    window.open('https://bscscan.com/tx/' + data.transactionHash)
                }


            });


        });


    </script>

</body>

</html>