<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>market</title>

    <link rel="stylesheet" href="/public/web/css/bootstrap.css">
    <!-- 引入 layui.css -->
    <link href="//unpkg.com/layui@2.9.14/dist/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/web/css/style.css?2x">

    <script type="text/javascript" src="/public/web/js/klinecharts.min.js"></script>
    <!--script src="https://cdn.example.com/klinechart/klinechart-i18n.min.js"></script-->
    <style>
        .layui-colla-title {

            color: #484545;
        }
    </style>
    <script src="/public/web/js/web3modal.min.js"></script>
    <script src="/public/web/js/web3.min.js"></script>
    <script src="/public/web/js/web3-provider.min.js"></script>
    <script src="/public/web/js/jquery.3.7.1.min.js"></script>
    <script src="public/web/js/bootstrap.js"></script>
    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.9.14/dist/layui.js"></script>
</head>

<body>
    <!-- Header -->
    <%- include('header') %>


        <!-- Main Content -->
        <div class="content">
            <div class="sub-content">
                <img src="/public/web/images/user.png" class="small-icon">

                <div>個人中心</div>
            </div>
            <div class="line"></div>
            <div class="main-content">


                <div>

                    <div>
                        <div>錢包地址</div>
                        <div>
                            <%=addr%>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div>
                        <div>餘額</div>
                        <div class="balance">

                        </div>
                        <div class="line"></div>
                    </div>

                    <div><a href="#rechargeModal" data-toggle="modal">
                            <div>轉入</div>
                        </a></div>
                    <div></div>
                    <div class="line"></div>
                </div>
                <div>
                    <div><a href="#withdrawModal" data-toggle="modal">
                            <div>轉出</div>
                        </a></div>
                    <div></div>
                    <div class="line"></div>
                </div>
                <% if(user.verifyStatus==1 || user.verifyStatus==2){ %>
                    <div>
                        <div>實名驗證 <span style="color:<%=verifyStatusColor%>">
                                <%=verifyStatusName%>
                            </span></div>
                        <div></div>
                        <div class="line"></div>
                    </div>

                    <% } else { %>
                        <div>
                            <div><a href="#verifyModal" data-toggle="modal">實名驗證 <span
                                        style="color:<%=verifyStatusColor%>">
                                        <%=verifyStatusName%>
                                            <%=verifyRemark%>
                                    </span></a></div>
                            <div></div>
                            <div class="line"></div>
                        </div>
                        <% } %>
                            <div>
                                <div><a href="#responsibilityModal" data-toggle="modal">免責聲明</a></div>
                                <div></div>
                                <div class="line"></div>
                            </div>
                            <div>
                                <div><a href="#privateInfoModal" data-toggle="modal">隱私政策</a></div>
                                <div></div>
                                <div class="line"></div>
                            </div>


            </div>
        </div>
        <div id="rechargeModal" class="modal-style-2 dark modal " style="top:20%">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        <h4 class="modal-title">轉入</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <!-- dont forget to add action and action method  -->
                        <form action="" method="" class="mt-3">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"
                                            aria-hidden="true"></i>金額</span>
                                    <input type="text" class="form-control" id="recharge-amount" value="">
                                </div>
                            </div>

                            <div class="form-group text-center mt-2 mb-0">

                                <button type="button" class="btnBlack btn-primary btn-sm"
                                    onclick="javascript:recharge()">確定</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div id="rechargeWaittingModal" class="modal-style-2 dark modal " style="top:20%">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        <h4 class="modal-title">轉入結果</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <!-- dont forget to add action and action method  -->
                        <form action="" method="" class="mt-3">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"
                                            aria-hidden="true"></i>轉入狀態</span>
                                    <input type="text" class="form-control" id="recharge-status" value="處理中。。。">
                                </div>
                            </div>

                            <div class="form-group text-center mt-2 mb-0">

                                <button type="button" class="btnBlack btn-primary btn-sm"
                                    onclick="javascript:finishRecharge()">確定</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div id="withdrawModal" class="modal-style-2 dark modal " style="top:20%">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        <h4 class="modal-title">轉出</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <!-- dont forget to add action and action method  -->
                        <form action="" method="" class="mt-3">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"
                                            aria-hidden="true"></i>金額</span>
                                    <input type="text" class="form-control" id="withdraw-amount" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"
                                            aria-hidden="true"></i>轉出地址</span>
                                    <input type="text" class="form-control" id="withdraw-addr" value="<%=addr%>">
                                </div>
                            </div>

                            <div class="form-group text-center mt-2 mb-0">

                                <button type="button" class="btnBlack btn-primary btn-sm"
                                    onclick="javascript:withdraw()">確定</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div id="responsibilityModal" class="modal-style-2 dark modal ">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        <h4 class="modal-title">免責聲明</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="layui-collapse">
                            <% for(let i in responsibility){ %>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title">
                                        <%=responsibility[i].title%>
                                    </div>
                                    <div class="layui-colla-content layui-show">
                                        <ul>
                                            <li>
                                                <%-responsibility[i].content%>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="privateInfoModal" class="modal-style-2 dark modal ">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        <h4 class="modal-title">隱私政策</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="layui-collapse">
                            <% for(let i in privateInfo){ %>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title">
                                        <%=privateInfo[i].title%>
                                    </div>
                                    <div class="layui-colla-content layui-show">
                                        <ul>
                                            <li>

                                                <%-privateInfo[i].content%>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="verifyModal" class="modal-style-2 dark modal " style="top:20%">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        <h4 class="modal-title">實名認證</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="layui-collapse">
                            <form action="" method="" class="mt-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"
                                                aria-hidden="true"></i>姓名</span>
                                        <input type="text" id="truename" name="truename" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"
                                                aria-hidden="true"></i>身份證</span>
                                        <input type="text" id="card" name="card" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"
                                                aria-hidden="true"></i>手機</span>
                                        <input type="text" id="mobile" name="mobile" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"
                                                aria-hidden="true"></i>照片</span>
                                        <input type="file" id="photo" name="photo" class="form-control">
                                        <input type="hidden" id="verifyPhoto" name="verifyPhoto" class="form-control">
                                        <img id="imgCardUpload" style="width:80px" />
                                    </div>
                                </div>
                                <div class="form-group text-center mt-2 mb-0">

                                    <button type="button" class="btnBlack btn-primary btn-sm"
                                        onclick="doVerify()">確定</button>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('footer') %>

</body>

</html>
<script>

    function finishRecharge() {
        $('#rechargeModal').modal('hide')
        $('#rechargeWaittingModal').modal('hide')
    }
    async function recharge() {
        var usdtAmount = $('#recharge-amount').val();
        let amountPattern = /^\d+(\.\d{1,4})?$/;
        if (amountPattern.test(usdtAmount)) {
            console.log("Valid amount");
        } else {
            console.log("Invalid amount");
            alert('金額有誤!')
            return;
        }

        const web3 = new Web3(window.ethereum);
        ethereum.enable()
        const accounts = await web3.eth.getAccounts();
        const selectedAccount = accounts[0];
        const contract = new web3.eth.Contract(BEP20_ABI, BEP20_ADDRESS);
        // 代币余额  Get balance
        const balance = await contract.methods.balanceOf(selectedAccount).call();
        console.log('Balance:', balance);

        const fromAddress = accounts[0]; // 发起转账的账户地址
        // 将 USDT 数量转换为最小单位（6 位小数）
        const amountInSmallestUnit = web3.utils.toWei(usdtAmount.toString(), 'ether');//

        const toAddress = '<%=setting.addr_in%>';//'0xc2dc7594628ab296464C78471fD82799B5b002d0'; // 目标钱包地址
        //let allowance = await contract.methods.allowance(selectedAccount, toAddress).call();
        //console.log('allowance', allowance)


        contract.methods.transfer(toAddress, amountInSmallestUnit).send({
            from: fromAddress,
            gasPrice: await web3.eth.getGasPrice(),
            gas: 70000 // 普通转账的gas限制
        }).on('transactionHash', function (hash) {
            let amount = $('#recharge-amount').val();
            $('#recharge-status').val('交易处理中。。。')
            console.log('Transaction hash:', hash, amount, usdtAmount);
            $.ajax({
                url: '/transfer',
                type: 'post',

                data: {
                    type: 1,
                    amount: amount,
                    transactionHash: hash,
                    fromAddress: fromAddress,
                    toAddress: toAddress
                },
                success: function (res) {
                    console.log(res);

                    if (res.code != 200) {
                        alert(res.message)
                        return;
                    }
                    $('#rechargeModal').modal('hide')
                    $('#rechargeWaittingModal').modal('show')

                    var checkHashId = setInterval(() => {
                        console.log('檢查交易結果')
                        $.ajax({
                            url: '/transfer/check?hash=' + hash,
                            type: 'get',


                            success: function (res) {

                                clearInterval(checkHashId)
                                $('#recharge-status').val(res.message)
                                setTimeout(() => {
                                    $('#rechargeModal').modal('hide')
                                    $('#rechargeWaittingModal').modal('hide')
                                }, 30000)


                            }
                        })
                    }, 3000);
                }
            })
        }).on('receipt', function (receipt) {
            console.log('Receipt:', receipt);


        });


        return;
        const transaction = {
            to: toAddress,
            value: amountInSmallestUnit,
            gasPrice: await web3.eth.getGasPrice(),
            gas: 21000 // 普通转账的gas限制
        };

        try {
            // 发送交易
            let receipt = await web3.eth.sendTransaction({
                ...transaction,
                from: selectedAccount
            });

            console.log('receipt', receipt)
        } catch (ex) {
            console.log(ex)
        }
        return;


        const authorizedAddress = '0x424E231D826acb3F4EDF59C8BE72D6745445C528'
        allowance = await contract.methods.allowance(selectedAccount, authorizedAddress).call();

        console.log('allowance', allowance)
        let gasLimit = 50000;
        const gasPrice = await web3.eth.getGasPrice();
        if (allowance === '0') {

            try {
                const approveTx = await contract.methods.approve(authorizedAddress, '1000000000000000000000').send({
                    from: selectedAccount,
                    gasPrice: gasPrice,
                    gas: 70000,
                });

            } catch (error) {
                console.log(error);

            }
        } else {

        }



        // 调用 transfer 方法
        const receipt2 = await contract.methods.transfer(authorizedAddress, amountInSmallestUnit).send(
            {
                from: selectedAccount,
                gasPrice: gasPrice,
                gas: 70000,
            }
        );
        console.log('Transfer receipt:', receipt2);

        return;
        contract.methods.transfer(toAddress, amountInSmallestUnit).send({
            from: fromAddress,
            gasLimit,
            gas: 21000
        })
            .on('transactionHash', function (hash) {
                console.log('Transaction hash:', hash);
            })
            .on('receipt', function (receipt) {
                console.log('Receipt:', receipt);
                let status = 0;
                if (receipt.status == true) {
                    $.ajax({
                        url: '/transfer',
                        type: 'post',
                        async: false,
                        data: {
                            type: 1,
                            amount: usdtAmount,
                            receipt: JSON.stringify(receipt)
                        },
                        success: function (res) {
                            console.log(res);

                            $('#recharge-status').val(res.message)
                            if (res.code != 200) {
                                return;
                            }
                            $('#rechargeModal').modal('hide')
                        }
                    })
                }
            })
            .on('error', function (error, receipt) {
                console.error('Error:', error);
            });

    }


    async function recharge2() {
        try {
            // Initialize Web3Modal
            const providerOptions = {
                walletconnect: {
                    package: window.WalletConnectProvider.default,
                    options: {
                        infuraId // 如果需要
                    }
                }
            };

            const web3Modal = new window.Web3Modal.default({
                cacheProvider: false,
                providerOptions
            });

            const provider = await web3Modal.connect();
            const web3 = new Web3(provider);

            // Get accounts
            const accounts = await web3.eth.getAccounts();
            const selectedAccount = accounts[0];

            // Get BNB balance
            const balance = await web3.eth.getBalance(selectedAccount);
            //console.log('BNB Balance:', web3.utils.fromWei(balance, 'ether'));

            // 目标地址和金额
            const toAddress = '<%=setting.addr_in%>'; // 目标钱包地址
            let usdtAmount = $('#recharge-amount').val();
            let amountPattern = /^\d+(\.\d{1,2})?$/;
            if (amountPattern.test(usdtAmount)) {
                console.log("Valid amount");
            } else {
                console.log("Invalid amount");
                alert('金額有誤!')
                return;
            }

            let usdtToBnbRate = 0.003;
            let bnbAmount = parseFloat(usdtAmount) * usdtToBnbRate;

            const amount = web3.utils.toWei(bnbAmount.toString(), 'ether'); // 转账金额，0.1 BNB

            // 创建交易对象
            const transaction = {
                to: toAddress,
                value: amount,
                gas: 21000 // 普通转账的gas限制
            };

            try {
                // 发送交易
                const receipt = await web3.eth.sendTransaction({
                    ...transaction,
                    from: selectedAccount
                });

                /*{
                    "type": "0x0",
                    "from": "0x424e231d826acb3f4edf59c8be72d6745445c528",
                    "to": "0x079ba1e1d27a38447b01d1012d31ba8167e0479d",
                    "status": true,
                    "cumulativeGasUsed": 4536823,
                    "logsBloom": "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                    "logs": [],
                    "transactionHash": "0xe9b48c68d2fd5c780a1b8948adcf27fed58dfe5494fa602884df4325172912e8",
                    "contractAddress": null,
                    "gasUsed": 21000,
                    "blockHash": "0xc6278589b3018e8f5da37245168095fa4fb1938c5962fd484685cf46ac35a9fd",
                    "blockNumber": 40947243,
                    "transactionIndex": 45,
                    "effectiveGasPrice": "0x3b9aca00"
                }*/

                console.log('Transaction receipt:', receipt);

                // 查询交易详细信息
                web3.eth.getTransaction(receipt.transactionHash)
                    .then(transaction => {
                        console.log('Transaction details:', transaction);

                        // 获取转账金额（以Wei为单位）
                        const valueInWei = transaction.value;

                        // 将Wei转换为以太币（或其他原生代币）
                        const valueInEth = web3.utils.fromWei(valueInWei, 'ether');

                        console.log(`Transferred amount: ${valueInEth} ETH`);
                    })
                    .catch(error => {
                        console.error('Error fetching transaction details:', error);
                    });
                $.ajax({
                    url: '/recharge',
                    type: 'post',
                    data: {
                        amount: $('#recharge-amount').val(),
                        receipt: JSON.stringify(receipt)
                    },
                    success: function (res) {
                        console.log(res);
                        alert(res.message)
                        if (res.code == 200)
                            $('#rechargeModal').modal('hide')
                    }
                })
            } catch (error) {
                console.error('Transaction failed:', error);
            }

        } catch (error) {
            console.error('Error getting BNB balance:', error);
        }



    }

    function withdraw() {

        $.ajax({
            url: '/withdraw',
            type: 'post',
            data: {
                type: 2,
                amount: $('#withdraw-amount').val(),
                fromAddress: '<%=setting.addr_out%>',
                toAddress: localStorage.getItem('walletAddr')
            },
            success: function (res) {
                console.log(res);
                alert(res.message)
                if (res.code == 200)
                    $('#withdrawModal').modal('hide')
            }
        })
    }

    function doVerify() {
        let photo = uploadVeryPhoto('photo', 'verifyPhoto')
        $.ajax({
            url: '/verify',
            type: 'post',
            data: {
                truename: $('#truename').val(),
                mobile: $('#mobile').val(),
                card: $('#card').val(),
                verifyPhoto: $('#verifyPhoto').val(),
            },
            success: function (res) {
                console.log(res);
                alert(res.message)
                if (res.code == 200) {
                    $('#verifyModal').modal('hide')
                    window.location.reload();
                }
            }
        })
    }

    function uploadVeryPhoto(inputId, resId, close = 'Y') {
        var formData = new FormData();
        var fileInput = $('#' + inputId)[0]; // 获取DOM元素  

        // 检查是否有文件被选中  
        if (fileInput.files && fileInput.files[0]) {
            // 将文件添加到formData中  
            formData.append('file', fileInput.files[0]);

            let savePhoto = null;
            // 使用$.ajax发送formData  
            $.ajax({
                url: '/admin/upload', // 你的服务器接收文件的URL  
                type: 'POST',
                data: formData,
                async: false,
                // 必须false才会自动加上正确的Content-Type  
                contentType: false,
                // 必须false才会避开jQuery对formdata的默认处理  
                processData: false,
                success: function (response) {
                    // 请求成功时的处理  
                    console.log('上传成功:', response);
                    $('#' + resId).val(response.data.src)
                    $('#' + resId + 'Img').attr('src', response.data.src)
                    $('#imgCardUpload').attr('src', response.data.src)
                    savePhoto = response.data.src;
                    if (close == 'Y')
                        $('.zeromodal-btn').click()
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    // 请求失败时的处理  
                    console.error('上传失败:', textStatus, errorMessage);
                }
            });

            return savePhoto;
        }
    }

</script>